<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Dahdi padang kelapo">
    <title>Halaman Utama</title>
</head>
<body>
    <p>Hello World</p>
    <button id="tombol">Lanjut ke Halaman Berikutnya</button>
    <script>
        document.getElementById('tombol').addEventListener('click',function(){
            document.location.href= 'halaman_kedua';
        })
    </script>
</body>
</html>