<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function panggil(){
            fetch('/haha').then(response => response.json()).then(data => {
                alert(data.message);
            }).catch(error => console.eror('Error :',error))
        }
    </script>
</head>
<body>
    <p>wkwkwkwkwk</p>
    <button onclick="panggil()">Tekan-tekan tekanlah</button>
</body>
</html>